/* styles.css */
html * {
  font-weight:600;
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  line-height: 1;
  color: black;
}

/* Customize styles for containers */
.container {
  width: 100%;
  height: 100%; /* Set the height of the container as needed */
  position: relative; /* Ensure that the container is positioned */
}
  

/* customize styles navigation tab*/
.nav .nav-tabs {
  background-color: none;
  
}
  /* Customize styles for left and right containers */
  .left-container {
    height: 100%;
    background-color:none;
    width: 10%;
    padding-top: 20px;
  }
  
  .right-container {
    height: 93vh;
    background-color: transparent;
    padding: 0px;
  }
 
  /* Customize styles for carousle */

.carousel-item img {
  cursor: pointer;
  height: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover; /* change from cover to contain */
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}



  /* Customize styles for isak name */
  .button.clicked {
    color: #555;
  }
  
  

.button, .button:hover {
  color: black;
  text-decoration: none;
}

.button:active {
  color: #777777;
  transition: color 0.2s ease;
}

  /* bottom left container */

.bottom-left-container {
  position: fixed;
  background-color: none;
  height: 100px;
  padding-left: 30px;
  bottom: 40px; 
  width: 100%;
 
}

/* project container */

.project-item h2 {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  #name {
  display: none;
  }
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  max-height: 100vh;
}
#content {
  overflow-x: hidden;
  width: 100%;
  min-height: 93vh;
  max-height: 100vh;
}

#projects, #info, #contact {
  padding: 20px;
}

#home {
  max-height: 100vh;
  min-height: 100vh;
}

aside {
  padding: 20px;
  min-height: 93vh;
}
aside .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 93vh;
}
aside .container::before, aside .container::after {
  display: none;
}
.nav-container .nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.projects-content {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.projects-content .slick-list {
  overflow-x: hidden;
  max-width: 800px;
}

.projects-content .slick-track{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
}

.projects-content .slick-slide {
  max-width: 800px;
  object-fit: cover;
}

.projects-content .slick-slide img {
  object-fit: cover;
}

/* home-carousel */
.home-carousel-wrapper {
  max-height: 100vh;
  min-height: 100vh;
}
.home-carousel {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.home-carousel .slick-list {
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
}

.home-carousel .slick-track{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
}

.home-carousel .slick-slide {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}
.home-carousel .slick-slide img {
  object-fit: cover;
  max-height: 100vh;
  min-height: 100vh;
}

/* home carousel */

.slick-next {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  border: none;
  font-size: 0;
}

.slick-dots {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.slick-dots .slick-active .slick-dot {
  text-decoration: underline;
}
.slick-dot {
  background-color: transparent;
  border: none;
  list-style: none;
}
.contact-wrapper {
  max-width: 100%;
}
.contact-wrapper * {
  font-size: 16px;
}
.info-container * {
  font-size: 16px;
}
@media (min-width: 992px) {
  .info-container.col-md-9 {
    float: right;
  }  
}

@media (max-width: 1200px) {
  .projects-content {
    gap: 20px;
  }
  .projects-content .slick-list {
    margin: 0 auto;
  }
  .project-item h2 {
    text-align: center;
  }
  .projects-content .slick-list {
    max-width: 600px;
  }
  .projects-content .slick-slide {
    max-width: 600px;
  }
}
@media (max-width: 992px) {
  .content-wrapper, #content {
    min-height: auto;
    max-height: fit-content;
  }
  .projects-content {
    flex-direction: column-reverse;
    gap: 20px;
  }
  aside {
    width: 100%;
    min-height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    box-shadow: -2px 4px 32px -6px rgba(66, 68, 90, 1);
    max-height: 120px;
    height: 90px;
    padding: 10px 0;
  }
  #content {
    padding-bottom: 90px;
  }
  aside .container {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    gap: 40px;
    height: auto;
  }
  .nav-container .nav {
    justify-content: flex-start;
    gap: 8px;
  }
  .nav::before, .nav::after {
    display: none;
  }
  #content {
    overflow: visible;
  }
  .slick-dots li {
    width: fit-content;
    justify-self: center;
  }
  .projects-content .slick-list {
    max-width: 100%;
  }
  .projects-content .slick-slide {
    max-width: 100%;
  }
  .projects-content {
    align-items: flex-start;
  }
  .content-wrapper {
    flex-direction: column-reverse;
  }
  .projects-content .slick-slide {
    object-fit: fill;
  }
  .projects-content .slick-slide img {
    object-fit: fill;
  }
  #carouselExampleControls1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  #name {
      display: block;
  }
  .slick-dot {
    font-size: 14px;
  }
  .project-item p {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .nav-link {
    font-size: 16px;
  }
  .info-container span {
    text-align: justify;
  }
}

#projects {
  position: relative;
}

@media (max-width: 992px) {
  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    font-size: 14px;
    right: 20px;
    cursor: pointer;
    line-height: 2.2rem;
    z-index: 10;
  }
}

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}