
      <!-- right container -->
  <div class="contact-wrapper col-md-9 right-container">
    <div>
      <div grid-col="x12" grid-pad="0"><h1></h1><h1>For general inquiries<br>
        <i><a href="mailto:isak.boardman@gmail.com">isak.boardman@gmail.com</a></i>
        </h1>
        <br>
        <h1><span style="color: #000;"><a href="https://goo.gl/maps/FjdgdFCmnZjDveNV9" target="_blank">Ragvaldsgatan 19B
            <br>118 46, Stockholm (SE)</a></span></h1>
            <br>
            <h1>
                <span style="color: #000;">Instagram <i><a href="https://www.instagram.com/isakboardman/" target="_blank">@isakboardman</a></i></span></h1>
        <br>
        
        <br>
        </div>      
      </div>
    </div>
  </div>
