<!-- project content-->
<div class="projects-content">
  <!-- project1-->
  <div class="col-md-6 right-container project-content" id="project1-content">
    <!-- content for Project 1 -->
    <div class="project-item">
      <h2>Project Title 1</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
  <!-- project2-->
  <div class="col-md-6 right-container project-content" id="project2-content">
    <!-- content for Project 2 -->
    <div class="project-item">
      <h2>Project Title 2</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
  <!-- project3-->
  <div class="col-md-6 right-container project-content" id="project3-content">
    <!-- content for Project 3 -->
    <div class="project-item">
      <h2>Project Title 3</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
  <!-- project4-->
  <div class="col-md-6 right-container project-content" id="project4-content">
    <!-- content for Project 4 -->
    <div class="project-item">
      <h2>Project Title 4</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
  <!-- project5-->
  <div class="col-md-6 right-container project-content" id="project5-content">
    <!-- content for Project 5 -->
    <div class="project-item">
      <h2>Project Title 5</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
  <!-- project6-->
  <div class="col-md-6 right-container project-content" id="project6-content">
    <!-- content for Project 6 -->
    <div class="project-item">
      <h2>Project Title 6</h2>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="assets/landingPage/1.jpg" class="d-block w-100" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/2.jpg" class="d-block w-100" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="assets/landingPage/3.jpg" class="d-block w-100" alt="Third slide">
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi molestias quo similique in sequi quam ipsum est mollitia, cumque fuga!</p>
    </div>
  </div>
</div>